<!-- <div class="container">

  <H3>Hello World!!{{title}}</H3>

  <form action="" method="post" class="col-6 border p-3">
    <div class="form-group">
      <label for="">Ten</label><br>
      <input class="form-control" type="text" [value]="name" (keyup)="changeName($event)">
      <span class="text-danger">{{name}}</span>
    </div>
    <div class="form-group">
      <label for="">Ngày sinh</label><br>
      <input class="form-control" type="text" [value]="date" (keyup)="changeDate($event)">
      <span class="text-danger">{{date}}</span>
    </div>
    <div class="form-group">
      <label for="">Giới tính</label><br>
      <input class="form-control" type="text" [value]="gender" (keyup)="changeGender($event)">
      <span class="text-danger">{{gender}}</span>
    </div>
    <div class="form-group">
      <label for="">Điểm trung bình</label><br>
      <input class="form-control" type="text" [value]="GPA" (keyup)="changeGPA($event)">
      <span class="text-danger">{{GPA}}</span>
    </div>
  </form>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- <form action="" class="border p-2 mb-3"> -->
      <!-- <app-quai></app-quai> -->
      <!-- <h3>Form Hero</h3>
      <form action="" class="form-group border p-3" id="onTop">
        {{ formHero | json }}
        <div class="form-group">
          <label for="">Code</label>
          <input
            disabled
            type="text"
            [(ngModel)]="formHero.id"
            class="form-control"
            name="code"
          />
        </div>
        <div class="form-group">
          <label for="">Tên</label>
          <input
            type="text"
            [(ngModel)]="formHero.name"
            class="form-control"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="">Avatar</label>
          <input
            type="text"
            [(ngModel)]="formHero.avatar"
            class="form-control"
            name="avatar"
          />
        </div>
        <div class="form-group">
          <label for="">Giới tính</label>
          <select
            class="form-control"
            name=""
            id=""
            [(ngModel)]="formHero.gender"
            name="gender"
          >
            <option selected value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
          </select>
        </div>
        <button class="btn btn-sm btn-info" (click)="submitForm()">Lưu</button>
      </form> -->
      <!-- <app-form-hero></app-form-hero> -->
    </div>
    <!-- <div class="col-6">
      <h3>Form Eneny</h3>
      {{formEmenies|json}}
      <form action="" class="form-group border p-3">
        <div class="form-group">
          <label for="">Code</label>
          <input type="text" [(ngModel)]="formEmenies.code" class="form-control" name="code" id="">
        </div>
        <div class="form-group">
          <label for="">Tên</label>
          <input type="text" [(ngModel)]="formEmenies.name" class="form-control" name="name" id="">
        </div>
        <div class="form-group">
          <label for="">Avatar</label>
          <input type="text" [(ngModel)]="formEmenies.avatar" class="form-control" name="avatar" id="">
        </div>
        <div class="form-group">
          <label for="">Số máu</label>
          <input type="text" [(ngModel)]="formEmenies.heathling" class="form-control" name="hp" id="">
        </div>
        <div class="form-group">
          <label for="">Số giáp</label>
          <input type="text" [(ngModel)]="formEmenies.amour" class="form-control" name="dp" id="">
        </div>
        <button type="submit" (click)="submitFormQuai()" class="btn btn-sm btn-success">Lưu</button>
      </form>
    </div> -->

    <table class="table table-hover">
      <thead>
        <th>Mã số</th>
        <th>Tên</th>
        <th>Ảnh</th>
        <th>Giới tính</th>
        <th></th>
      </thead>
      <tbody *ngIf="heroes.length > 0">
        <ng-container>
          <app-hero-item
            (removeHero)="remove($event)"
            *ngFor="let item of heroes"
            [heroData]="item"
          ></app-hero-item>
        </ng-container>
        <!-- <tr *ngFor="let item of heroes">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td><img [src]="item.avatar" alt="" width="100" /></td>
          <td>{{ item.gender | gender }}</td>
          <td>
            <a
              href="#onTop"
              (click)="update(item)"
              class="btn btn-sm btn-warning"
              >Sửa</a
            >&nbsp;
            <button (click)="remove(item)" class="btn btn-sm btn-danger">
              Xoá
            </button>
          </td>
        </tr> -->
      </tbody>
    </table>
    <br />

    <!-- <h2>Quái</h2>
    <table class="table table-hover">
      <thead>
        <th>Mã</th>
        <th>Tên</th>
        <th>Avata</th>
        <th>Số máu</th>
        <th>Số giáp</th>
        <th></th>
      </thead>
      <tbody *ngIf="emenies.length > 0">
        <tr *ngFor="let item of emenies">
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td> <img [src]="item.avatar" alt="" width="100"></td>
          <td>{{item.heathling}}</td>
          <td>{{item.amour}}</td>
          <td>
            <button (click)="updateQuai(item)" class="btn btn-sm btn-warning">Sửa</button>&nbsp;
            <button (click)="removeQuai(item)" class="btn btn-sm btn-danger">Xoá</button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
